$primary-grey-color: #1c1c1f;
$secondary-grey-color: #24242a;

$light-red-color: #ff8280;
$primary-twitch-color: #9146ff;
$secondary-twitch-color: lighten(#9146ff, 10%);

$warning-color: #bc6f1a;
$error-color: #ff4c49;