<footer class="footer">
    <div class="footer-content">
        <div class="content-title">
            <p>STREAMERS &copy; 2021</p>
        </div>
        <div class="content-auth">
            <% if(page_title === 'Dashboard') { %>
                <a href="/">Home</a>
            <% } else { %>
                <a href="/dashboard">Dashboard</a>
            <% } %>
        </div>
        <div class="content-description">
            <p>Developed by <a href="https://justinas.io" target="_blank" rel="noreferrer">Justinas.io</a></p>
        </div>
    </div>
</footer>