<nav class="nav" id="nav">
    <ul class="nav-list">
        <li class="list-item">
            <a href="/" class="item-link">Home</a>
        </li>
        <li class="list-item">
            <a href="#onlineSection" class="item-link">Online</a>
        </li>
        <li class="list-item">
            <a href="#offlineSection" class="item-link">Offline</a>
        </li>
        <li class="list-item">
            <a href="#partneredSection" class="item-link">Partnered</a>
        </li>
        <li class="list-item">
            <a href="#mostFollowedSection" class="item-link">Most Followed</a>
        </li>
    </ul>
    <form class="nav-hamburger-menu" id="formHamburgerMenu">
        <button class="button-menu" id="buttonMenu">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
        </button>
        <button class="button-close" id="buttonClose">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </button>
    </form>
</nav>