<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/style.min.css">
    <!-- Empty script tag to fix Chromium's Blink bug - empty space is necessary! - https://lab.laukstein.com/bug/input -->
    <script> </script>
</head>
<body>

    <%- include('../includes/footer.ejs') %>
</body>
</html>